@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Eazy Todo WebApp</h1>
    <p>Learn about the developer <a href="https://www.instagram.com/i_am.j8/" target="_blank">J8</a>.</p>
</div>
